.chatContents {
  display: flex;
  flex-direction: column-reverse;
  height: 100%;
}

.chatContainer {
  height: calc(100vh - 110px);
}

.chatLeft,
.chatMiddle,
.chatRight {
  padding: 1rem;
  height: 100%;
  overflow-y: scroll;
}

.chatLeft {
  width: 100%;
}

.chatMiddle {
  width: 100%;
  min-height: 65vh;
}

.chatRight {
  display: none;
}

.chatRight h1 {
  color: rgb(43, 183, 226);
  font-size: 1.3rem;
}

.online {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: rgb(31, 216, 31);
  position: absolute;
  left: 24px;
  top: 0;
}

.chatFriend {
  cursor: pointer;
  padding: 0.2rem;
  margin: 0.4rem 0;
}

.chatFriend:hover {
  background-color: rgb(202, 199, 199);
}

.chatLeft h1 {
  margin-top: 0.4rem;
  font-size: 1.3rem;
  color: rgb(43, 183, 226);
}

@media only screen and (min-width: 768px) {
  .chatContents {
    flex-direction: row;
  }
  .chatLeft {
    width: 30%;
  }

  .chatMiddle {
    width: 70%;
  }
}

@media only screen and (min-width: 1024px) {
  .chatLeft {
    flex: 2.5;
  }

  .chatMiddle {
    flex: 6.5;
  }

  .chatRight {
    display: block;
    flex: 2.5;
  }
}
