.editProfileContainer {
  display: flex;
}

.editProfileForm {
  width: 100%;
  padding: 1rem;
  padding-bottom: 2rem;
}

.editProfileFormContainer {
  box-shadow: 1px 1px 3px;
  padding: 1rem;
  width: 100%;
  margin: 0 auto;
}

.editProfileFormContainer h1 {
  text-align: center;
  margin-bottom: 1rem;
  color: rgb(43, 183, 226);
}

.editFormGroup input {
  display: block;
  width: 100%;
  margin-top: 0.3rem;
}

.editFormGroup label {
  font-size: 0.9rem;
}

.editFormGroup {
  margin-bottom: 0.6rem;
}

.fileEdit {
  display: none;
  background-color: rgb(189, 186, 23);
}

@media only screen and (min-width: 650px) {
  .editProfileForm {
    margin-left: 180px;
  }

  .editProfileFormContainer {
    width: 450px;
  }
}

@media only screen and (min-width: 1024px) {
  .editProfileForm {
    margin-left: 210px;
  }
  .editProfileFormContainer {
    width: 450;
  }
}
