.leftbar {
  display: none;
}

/* Medium size devices */
@media only screen and (min-width: 650px) {
  .leftbar {
    display: block;
    width: 180px;
    height: calc(100vh - 58px);
    overflow-y: scroll;
    position: fixed;
    background-color: #fff;
  }

  .leftbarContainer {
    padding: 1rem;
  }

  .leftbarLists {
    display: flex;
    flex-direction: column;
    gap: 1.1rem;
    font-size: 1rem;
  }

  .profileLink p {
    background-color: rgb(201, 18, 125);
    padding: 0.1rem 0.3rem;
    border-radius: 5px;
    display: inline;
    margin-left: 0.3rem;
    color: #fff;
  }

  .profileLink p:hover {
    background-color: rgb(3, 99, 99);
  }

  .leftbarLists li {
    display: flex;
    gap: 5px;
  }

  .profileLink i,
  .leftbarLists li i {
    width: 25px;
    color: rgb(129, 23, 228);
  }

  .leftbarFriends {
    margin-top: 0.5rem;
    margin-bottom: 1rem;
  }
  .leftbarFriends h1 {
    font-size: 1.3rem;
    margin-bottom: 0.3rem;
    color: rgb(43, 183, 226);
  }

  .friendImage {
    width: 30px;
    height: 30px;
  }

  .friendImage img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }

  .friendsDetail {
    display: flex;
    gap: 0.3rem;
    align-items: center;
    margin-bottom: 12px;
  }

  .friendName {
    color: rgb(3, 82, 105);
    font-size: 15px;
  }
}

/* large size devices */
@media only screen and (min-width: 1024px) {
  .leftbar {
    display: block;
    width: 210px;
    height: calc(100vh - 58px);
    overflow-y: scroll;
    position: fixed;
    background-color: #fff;
  }

  .leftbarContainer {
    padding: 2rem;
  }

  .leftbarLists {
    font-size: 1.1rem;
  }
}
