.navbar {
  background-color: rgb(92, 92, 247);
  color: #fff;
  position: sticky;
  z-index: 10;
  top: 0;
  height: 58px;
}

.navbarContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 0.6rem;
}

.menuIcon {
  display: inline;
  font-size: 24px;
  cursor: pointer;
}

.navRight {
  display: none;
}

.navLogo {
  font-size: 1.4rem;
  color: #fff;
}

.logout {
  background-color: rgb(241, 93, 247);
  border: none;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  color: #fff;
  border-radius: 8px;
}

.userFullname {
  font-size: 1rem;
}

/* Medium size devices */
@media only screen and (min-width: 650px) {
  .navbarContainer {
    padding: 0.5rem 1rem;
  }

  .navRight {
    display: flex;
    align-items: center;
    gap: 0.2rem;
  }

  .menuIcon {
    display: none;
  }

  .userImage {
    width: 35px;
    height: 35px;
    margin-right: 0.4rem;
  }

  .userImage img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }

  .navLogo {
    font-size: 1.8rem;
  }
}

/* large size devices */
@media only screen and (min-width: 900px) {
  .navbarContainer {
    padding: 0.5rem 2rem;
  }

  .navRight {
    gap: 0.8rem;
  }

  .navLogo {
    font-size: 2.2rem;
  }
}
