.userInformation {
  box-shadow: 0 1px 4px rgba(0, 0, 00.6);
  padding: 0.6rem;
  margin-bottom: 2rem;
}

.userfriends {
  margin-top: 0.3rem;
  border-top: 4px solid salmon;
}
.userfriends h1 {
  color: rgb(43, 183, 226);
  font-size: 1.3rem;
  margin-bottom: 0.3rem;
}

.friends {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.7rem;
}

.userfriendImage {
  width: 60px;
  height: 60px;
}

.information h1 {
  color: rgb(43, 183, 226);
  margin-bottom: 0.2rem;
  font-size: 1.3rem;
}

.userfriend {
  display: flex;
  gap: 0.2rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(3, 82, 105);
}

.userfriendImage img {
  width: 100%;
  height: 100%;
  border-radius: 12px;
}

.information p {
  font-weight: semibold;
  color: #000;
  margin-bottom: 0.3rem;
}

.infoSpan {
  color: rgb(13, 113, 180);
}

.follow {
  background-color: blue;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  margin-bottom: 0.5rem;
}

.follow p {
  color: #fff;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1rem;
}

.follow p i {
  font-size: 1.2rem;
  margin-right: 0.5rem;
}
