.profileContents {
  width: 100%;
}

.profileRight {
  display: none;
}

.profileLeft {
  width: 100%;
}

.profileDetails {
  display: flex;
  padding: 0 1rem;
  gap: 1rem;
  margin-top: 8rem;
}

.coverImage {
  width: 100%;
  height: 460px;
}

.coverImage img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.editProfileLink {
  position: absolute;
  top: 40px;
  right: -14px;
  z-index: 6;
  background-color: blue;
  color: #fff;
  padding: 0.3rem 0.5rem;
  border-radius: 4px;
}

.profileDescription {
  z-index: 5;
  position: relative;
}

.username {
  font-weight: bold;
  font-size: 1.2rem;
  color: blueviolet;
}

.profileDesc {
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -4.5rem;
  width: 100%;
}

.profileImage {
  width: 140px;
  height: 140px;
  position: relative;
}

.profileImage img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

@media only screen and (min-width: 650px) {
  .profileContents {
    margin-left: 190px;
  }
  .profileDetails {
    padding: 0 2rem;
  }
}

@media only screen and (min-width: 1024px) {
  .profileContents {
    margin-left: 210;
  }
  .profileRight {
    display: block;
    margin-top: 1rem;
    width: 35%;
  }

  .profileLeft {
    width: 65%;
  }
}

@media only screen and (min-width: 1280px) {
  .profileRight {
    display: block;
    margin-top: 1rem;
    width: 40%;
  }

  .profileLeft {
    width: 60%;
  }
}
