.auth {
  display: flex;
  justify-content: center;
  background-color: rgba(221, 241, 187, 0.715);
}

.authContainer {
  background: linear-gradient(
    65deg,
    rgba(76, 212, 12, 0.5) 25%,
    rgba(201, 45, 84, 0.1) 50%,
    rgba(252, 209, 20, 0.3) 25%,
    rgba(119, 130, 196, 0.3) 50%
  );
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}
.authContent {
  background: #ffffff;
  box-shadow: 1px 1px 2px;
  padding: 1rem 2rem;
  width: 100%;
  text-align: center;
}

.authContent h1 {
  font-size: 2.5rem;
  text-align: center;
  color: rgb(133, 133, 228);
  margin-bottom: 0.2rem;
}

.authContent p {
  font-size: 1.2rem;
  margin-bottom: 0.3rem;
}

.authForm .fa-user {
  font-size: 1.8rem;
  margin: 0 auto;
  color: rgb(133, 133, 228);
}

.authForm {
  background-color: #ffffff;
  padding: 1.5rem 2rem;
  text-align: center;
}

.authForm h1 {
  text-align: center;
  font-size: 2rem;
  color: rgb(133, 133, 228);
  margin-bottom: 0.6rem;
}

.formGroup {
  padding: 0.2rem;
  position: relative;
  margin-bottom: 0.5rem;
}

input {
  padding: 0.8rem 1.1rem;
  width: 260px;
  border: none;
  outline: none;
  border-radius: 10px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
  font-size: 0.8rem;
}

.inputLabel {
  position: absolute;
  top: -5px;
  font-size: 13px;
  left: 15px;
  color: gray;
}

.save {
  font-size: 0.9rem;
  width: 100%;
  border-radius: 28px;
  border: none;
  padding: 0.5rem;
  color: #fff;
  background-color: blueviolet;
}

.loginLink {
  border: none;
  background-color: transparent;
  margin-top: 0.4rem;
  font-size: 0.8rem;
  color: #fff;
  border-radius: 28px;
  background: rgb(6, 133, 101);
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 0.3rem;
}

.successAlert {
  position: absolute;
  top: 2rem;
  right: 2rem;
  background-color: rgb(6, 185, 96);
  color: #fff;
  padding: 0.3rem 0.7rem;
  border-radius: 5px;
}

.error-msg {
  color: rgb(241, 98, 98);
  margin: 0 auto;
  width: 260px;
  text-align: center;
}

@media only screen and (min-width: 768px) {
  .authContent {
    width: 450px;
  }
}

@media only screen and (min-width: 991px) {
  .authContainer {
    flex-direction: row;
  }
}
