.feeds {
  width: 100%;
  border-right: 1px solid rgba(128, 128, 128, 0.308);
  background-color: white;
  min-height: 100vh;
}

.feedsContainer {
  padding: 0.4rem;
}

/* Medium size devices */
@media only screen and (min-width: 650px) {
  .feeds {
    margin-left: 180px;
  }
  .feedsContainer {
    padding: 1rem;
  }
}

/* large size devices */
@media only screen and (min-width: 1024px) {
  .feeds {
    margin-left: 210px;
  }
  .feedsContainer {
    padding: 1rem;
  }
}

@media only screen and (min-width: 1280px) {
  .feedsContainer {
    padding: 1rem 2rem;
  }
}
